body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 400px;
    margin: 0 auto; 
    padding: 20px;
    background-color: white;
    border: 10px solid gold;
    height: fit-content;
    border: 2px black solid;
    margin-top: 130px;
    border-radius: 12px;
}

input[type="submit"]{
    color: white;
    background-color: black;
    width: 400px;
    height: 50px;
    border-radius: 12px;
    margin-top: 70px;
    font-size: 20px;
    margin-bottom: 20px;
}

input[type="text"]{
    margin-top: 30px;
    width: 380px;
    height: 50px;
    border: 2px black solid;
    border-radius: 12px;
    font-size: 20px;
    padding-left: 10px;
}
.question{
    margin-left: 70px;
    margin-top: 20px;
}
h1{
    text-align: center;
}